.booking-heading{
    color: #000d6b;
}
.booking_form{
    display: flex;
    gap: 20px;
}
.booking_form select,
textarea{
    width: 100%;
  padding: 10px 15px;
  color: #7c8a97;
  border: 1px solid #7c8a972a;
  border-radius: 4px;
}

.booking_form input{
    /* margin-bottom: 10px; */
    padding: 8px 15px;
  border: 1px solid #7c8a972a;
  color: #7c8a97;
  width: 100%;
}

.textarea:focus,
.booking_form input:focus,
.booking_form select:focus {
  outline: none;
}

@media(max-width: 420px){
    .booking-form-date{
        display: flex;
        flex-direction: column;
    }
}
@media(max-width: 376px){
    .booking_form{
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
}