
.find_cars-left{
    background: linear-gradient(rgb(249, 168, 38, 0.9), rgb(249, 168, 38, 0.9)),
    url("../assets/all-images/toyota-offer-2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 65px 35px;
}

.find_cars-left h2{
  font-size: 2.8rem;
  font-weight: 600;
}

.form_group{
  width: 30%;
  margin-bottom: 0;
}

.find-car-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center; */
}

.form_group input{
  border:  1px solid #7c8a972a;
  padding: 8px 12px;
  /*border: none; */
  outline: none;
}

form{
  width: 100%;
  background: #fff;
  padding: 55px 15px 50px 15px;
}

.select_group{
  width: 30%;
}

.select_group select{
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #7c8a972a;
  outline: none;
  color: #7c8a97;
}

.hero_slider-section{
  position: relative;
  z-index: 10;
  margin-bottom: 200px;
}
.hero_form {
  position: absolute;
  bottom: -150px; 
  z-index: 11;
  width: 100%;
  
}
.form_row{
  background: #fff;
  box-shadow: 5px 5px 15px -5px #7c8a97;
}

.journey_time::before{
  content: "Journey time";
  margin-right: 0.8rem;
  color: #7c8a97;
}
.find_car-btn {
  background: #000d6b !important;
  color: #fff !important;
  padding: 8px 15px;
  width: 100%;
  border: none;
  outline: none;
}

.section_subtitle{
  color: #f9a826;
    font-weight: 600;
    font-size: 1.2rem;
}
.section_title{
  color: #000d6b;
  font-weight: 600;
  font-size: 2rem;
}

@media only screen and (max-width: 1000px){
  
  .hero_form {
    bottom: -250px; 
    
  }
}

/* @media(max-width: 828px){
  .find-car-container{
    
  }
  form{
    padding: 20px;
  }
} */

@media only screen and (max-width: 768px) {
  .find_cars-left {
    padding-top: 20px;
    padding-bottom: 0;
    background: #fff;
    text-align: center;
  }

  .form {
    padding: 20px 10px;
  }
}

@media only screen and (max-width: 576px) {
  .form_group {
    width: 100%;
    margin: auto;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .form_group input {
    width: 80%;
    font-size: 0.7rem !important;
  }

  .select_group {
    width: 80%;
    
    font-size: 0.7rem;
  }

  .find_car-btn {
    font-size: 0.8rem;
  }

  .find_cars-left h2 {
    font-size: 1rem;
  }

  .hero_form {
    bottom: -250px;
  }
}

/* @media(max-width:1000px){
  .find-car-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
  }
  form{
    
    padding: 50px 15px 45px 15px;
  }

}

@media(max-width: 600px){
  .find_cars-left h2{
    font-size: 2.2rem;
    font-weight: 600;
  }
}

@media(max-width:768px){
  .find-car-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
  }

  form{
    padding: 20px 15px 25px 15px;
  }
}
@media(max-width:464px){
  .find-car-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    
  }

  .form_group, .select_group{
    width: 100%;
    text-align: center;
  }

  input {
    width: 80%;
    margin-bottom: 10px;
  }
  select{
    width: 60%;
  }

} */